<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inova Campus</title>
    <link rel="stylesheet" href="../styles/vendasPagInicial.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <p>INOVA CAMPUS</p>
      </div>
    </header>
    <div class="user-info">
      <div class="user-container">
        <img
          src="../assets/img/fotodeUsuario.jpg"
          alt="Usuário"
          class="user-img"
        />
        <span class="user">Usuário</span>
      </div>

      <div>
        <button class="logout"><a href="/index.php">Sair da conta</a></button>
      </div>
    </div>

    <section class="categorias">
      <h2>Categorias</h2>
      <div class="icons">
        <div class="categoria item">
          <img src="../assets/img/lanche.png" alt="Lanches" />
          <p>Lanches</p>
        </div>
        <div class="categoria item">
          <img src="../assets/img/artesanato.jpg" alt="Artesanato" />
          <p>Artesanato</p>
        </div>
        <div class="categoria item">
          <img src="../assets/img/platinha.png" alt="Plantinhas" />
          <p>Plantinhas</p>
        </div>
        <div class="categoria item">
          <img src="../assets/img/cupcake.png" alt="Doces" />
          <p>Doces</p>
        </div>
      </div>
    </section>

    <section class="mais-vendidos">
      <h2>Mais vendidos da semana</h2>
      <div class="produto">
        <img src="../assets/img/empada.jpg" alt="Empada do Borges" />
        <div class="info">
          <h3>Empada do Borges</h3>
          <p class="preco">R$ 2,50</p>
          <button class="btn">Comprar</button>
        </div>
      </div>
      <div class="produto">
        <img src="../assets/img/bromelia.jpg" alt="Bromélia" />
        <div class="info">
          <h3>Bromélia</h3>
          <p class="preco">R$ 10,00</p>
          <button class="btn">Comprar</button>
        </div>
      </div>
    </section>
  </body>
</html>