@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
}
header {
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(38, 114, 34, 0.14);
    color: #359830;
    width: 100%;
    padding: 10px;
}
header h1 {
margin: 0 auto;
text-align: center;
flex-grow: 1;
font-size: 20px;
}
header .right,
header .left {
    display: flex;
    align-items: center;
}
header .right img {
width: 40px;
height: auto;
}
header .left .opcao-botao {
    background: transparent;
    border: 0;
    font-size: 30px;
    color: #359830;
    cursor: pointer;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
p{
    text-align: center;
    font-family:'poppins', Helvetica, sans-serif ;
    color:#267222 ;
    font-size: 20px;
    margin-top: 30px;
    border-bottom: 2px solid rgba(38, 114, 34, 0.5);
    padding-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
h5 {
    font: optional;
    font-size: 12px;
    color: black;
    margin: 0 0 3px 0;
    font-weight: bold;
    text-align: left;
    width: auto;
    padding-left: 0;
    width: 90%;
    padding-left: 5%;
}
.quadrado-container{
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
}
input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 5px 15px;
    margin-bottom: 12px;
    border:2px solid rgba(38, 114, 34, 0.45);
    border-radius: 6px;
    font-size: 11px;
    background-color: transparent;
    color: black;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
input[type="text"]:focus,
input[type="password"]:focus{
border: 2px solid #267222;
background-color: transparent;
outline: none;
}
input[type="tel"]{
    width: 90%;
    padding: 5px 15px;
    margin-bottom: 12px;
    border:2px solid rgba(38, 114, 34, 0.45);
    border-radius: 6px;
    font-size: 11px;
    background-color: transparent;
    color: black;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
input[type="tel"]:focus{
border: 2px solid #267222;
background-color: transparent;
outline: none;
}
.selecao{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.selecao label{
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    color:#267222;
}
.selecao input[type="radio"]{
    display: none;
}
.radio-indicator{
    width:15px ;
    height:15px ;
    border: 2px solid  #267222  ;
    border-radius: 50%;
    margin-right: 0;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.selecao input[type="radio"]:checked + .radio-indicator{
    background-color: #4CAF50;
    border-color: #4CAF50;
}
.selecao input[type="radio"]:hover + .radio-indicator {
    border-color: #267222;
}
.botaocadastrar {
    background-color: #267222;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    cursor:pointer;
    width: 50%;
    margin-top: 15px;
}
@media (max-width:1024px) {
    body{
        height: auto;
        padding-bottom: 20px;
    }
    header h1 {
        font-size: 18px;
    }
    .quadrado-container {
        width: 90%;
        margin: 10px auto;
    }
    p{
        font-size: 18px;
        margin-top: 20px;
    }
    h5{
        font-size: 14px;
        margin-bottom: 5px;
    }
}