<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inova Campus - Vendedor</title>
    <link rel="stylesheet" href="../styles/confiAlterProdut.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />
</head>
<body>
    <div class="header">INOVA CAMPUS</div>
    <p class="titulo">Confirme as Informações:</p>
    <div class="produtos">
        <img src="usuario.jpg" alt="Foto do produto" class="produto">
        <p class="preço">R$2,50</p>
        <p class="nomeP">Empada do Borges</p>
    </div>
      <div class="bnt-container">
        <a href="../views/editarProdutos.html">
        <button type="button" class="btn cadastrar">Voltar</button>
        </a>
      <button type="submit" class="btn entrar">Confirmar</button>
      </div>
</body>