:root {
    --color-dark-green: #187501;
    --color-green: #2a980f;
    --color-light-green: #1875014d;
    --color-red: #ff4d4d;
    --color-dark-red: #cc0000;
    --color-blue: #007bff;
    --color-dark-blue: #004896;
    --color-white: #fff;
    --color-gray: #f0f8ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: max(320px, 100vw);
    min-height: 100dvh;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.header {
    padding-inline: 16px;
    background-color: var(--color-green);
}

.nav {
    height: 70px;
    /* margin-inline: auto; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--color-gray);
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: var(--color-gray);
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background-color: transparent;
    border-top: 3px solid var(--color-white);
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--color-white);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

/* header h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: clamp(1.6rem, 8vw, 2rem);
} */

/* h2 {
    margin: 2rem;
    font-size: clamp(1.2rem, 6vw, 1.5rem);
}

h1, h2 {
    color: var(--color-dark-green);
} */

h2 {
    margin-block: 2rem;
}

main {
    flex: 1;
}

form {
    width: clamp(300px, 90%, 460px);
    height: clamp(400px, 80%, 600px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form label {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form .tipo-selecao {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

form input {
    height: 2rem;
    border: 2px var(--color-dark-green) solid;
    outline: none;
    padding-left: .5rem;
    border-radius: .3rem;
}

.radio-style {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-green);
    border-radius: 50%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.tipo-selecao:hover .radio-style {
    background-color: var(--color-light-green);
}

input[type="radio"]:checked + .radio-style {
    background-color: var(--color-green);
    border-color: var(--color-dark-green);
}
  
input[type="radio"] + .radio-style::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

fieldset {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border: none;
}

.btn {
    width: 100%;
    height: 1.8rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 1.8rem;
    cursor: pointer;
    color: var(--color-white);
}

.btn a {
    color: var(--color-white);
}

.btn.edit {
    width: 100%;
    background-color: var(--color-blue);
}

.btn.edit:hover {
    background-color: var(--color-dark-blue);
}

.btn.delete {
    background-color: var(--color-red);
}

.btn.delete:hover {
    background-color: var(--color-dark-red);
}

.btn.enviar {
    background-color: var(--color-green);
}

.btn.enviar:hover {
    background-color: var(--color-dark-green);
}

.user-menu {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    height: 4dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
}

footer p {
    text-align: center;
    color: var(--color-gray);
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-green);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;        
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}